@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Graphik-bold";
    src: url("/fonts/GraphikBlack.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik-medium";
    src: url("/fonts/GraphikMedium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik-black";
    src: url("/fonts/GraphikBlack.otf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik-semibold";
    src: url("/fonts/GraphikSemibold.otf");
    font-weight: 600;
    font-style: normal;
  }
}

.bannerTitle {
  color: aquamarine;
  /* Fallback: Set a background color. */
  background: linear-gradient(252.26deg, #771228 -0.27%, #5b1bbd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.joyStick {
  display: initial !important;
  vertical-align: middle !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.mySwiper {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 71px rgba(30, 29, 88, 0.3);
  border-radius: 12px;
}

.singleSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 71px rgba(30, 29, 88, 0.3);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.singleSlider img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  border-radius: 12px;
}

.singleSlider.swiper-slide-next,
.swiper-slide-prev img {
  mix-blend-mode: normal;
  opacity: 0.7;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.testimonialSlider.swiper-slide-next,
.swiper-slide-prev {
  height: 384px !important;
  width: auto !important;
}

@media only screen and (max-width: 450px) {
  .swiper-container {
    width: 100% !important;
  }

  .singleSlider {
    width: 100% !important;
  }
}

.box {
  opacity: 1;
  transition: opacity 0.5s;
}

.apperance {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("../assets/funnel.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em 1.5em;
}
